.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.75em;
  border-radius: 0.1em;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.25);
  color: $white;
  font-family: $ff-primary;
  border: none;
  outline: none;
}

.btn__letters {
  display: flex;
}

.btn--load {
  font-size: 2rem;
}

.btn--icon-only {
  @include accessible-btn;
}

.btn__container {
  display: flex;
  align-items: center;
  position: absolute;
  width: 1em;
  opacity: 0;
}

.btn__icon {
  position: relative;
  width: 100%;
  fill: $white;
}

.btn__icon--search {
  @include svg-ratio(18, 18);
}

.btn__icon--tick {
  @include svg-ratio(50, 37);
  position: absolute;
}

.btn__icon--circle {
  @include svg-ratio(90, 90);
  position: absolute;
}
